<link rel="stylesheet" href="/styles/searchBar.css" />
<div class="search-container">
    <form action="search" id="form">
        <input
            type="search"
            id="search-area"
            name="q"
            placeholder="Search"
        />
        <button><span>🔍</span></button>
    </form>
</div>