<link rel="stylesheet" href="/styles/searchBar.css" />
<div class="search-container">
    <form action="search" id="form">
        <input
            type="search"
            id="search-area"
            name="title"
            placeholder="Search"
            value="<%= typeof query != 'undefined' && query.title != 'undefined' ? query.title : '' %>"
        />
        <button><span>🔍</span></button>
    </form>
</div>