* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #888888; */
  background-image: url("../images/bookstore\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a:any-link {
  color: #333333;
}

a:hover,
a:focus-visible {
  color: #959d9d;
}

a:active {
  color: #f5ba4d;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #333333;
  z-index: 1;
}

.header .logo img {
  width: 96px;
  height: 40px;
  margin-left: 10px;
}
