.search-container {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #000000;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.search-container form {
    display: flex;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    width: 60%;
    max-width: 600px;
}

.search-container form input {
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
}

.search-container form button {
    background-color: transparent;
    border: none;
    padding: 7px;
    cursor: pointer;
}