<div class="header">
  <div class="logo">
    <a href="/">
      <img
        src="../../images/bookstore logo.jpg"
        alt="Book Store Logo"
        class="book-store-logo"
      />
    </a>
  </div>
  <div class="menu">
    <a href="#">Sách</a>
    <a href="#">Giỏ hàng</a>
    <div class="menu-user">
      <img
        src="../../images/user-profile-icon-free-vector.jpg"
        alt="User Avatar"
        id="user-avatar"
      />

      <div class="user-dropdown" id="user-dropdown">
        <a href="/info">Thông tin người dùng</a>
        <a href="/manageBooks">Quản lý sách</a>
        <a href="/logout">Đăng xuất</a>
      </div>
    </div>
  </div>
</div>
