<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/images/bookstore logo.jpg">
        <title>Home</title>
        <link href="/styles/home.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <%- include('../templates/header'); %>
        <%- include('../templates/searchBar'); %>
        <div class="content-container">
            <p class="content">BOOK STORE</p>
            <p class="slogan">Nhà sách của tri thức, cánh cửa của ước mơ</p>
            <a href="/search" class="button">Xem những cuốn sách bạn yêu thích</a>
        </div>
    </body>
</html>
